<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Incident</h4>
                    </div>
                    <div class="content">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                           
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Ticket Number</label>
                                        <input type="text" class="form-control" disabled placeholder="INC" value="INC000000001">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Requested by</label>
                                        <input type="text" formControlName="requestedBy" class="form-control" placeholder="Requested by" value="mofallas" [ngClass]="{ 'is-invalid': submitted && f.requestedBy.errors }" />
                                        <div *ngIf="submitted && f.requestedBy.errors" class="invalid-feedback">
                                            <div *ngIf="f.requestedBy.errors.required">Requested by is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Email</label>
                                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cellphone</label>
                                        <input type="tel" class="form-control" placeholder="Cellphone" value="83266750" formControlName="cellphone"[ngClass]="{ 'is-invalid': submitted && f.cellphone.errors }" />
                                        <div *ngIf="submitted && f.cellphone.errors" class="invalid-feedback">
                                            <div *ngIf="f.cellphone.errors.required">Cellphone is required</div>
                                            <div *ngIf="f.cellphone.errors.minLength">Add a valid number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ask for</label>
                                        <input type="text" class="form-control" placeholder="Name for" value="Moises Fallas Navarrete" formControlName="askFor" [ngClass]="{ 'is-invalid': submitted && f.askFor.errors }"/> 
                                        <div *ngIf="submitted && f.askFor.errors" class="invalid-feedback">
                                            <div *ngIf="f.askFor.errors.required">Ask for is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                    </div>
        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="" class="form-control" placeholder="City" value="Mike">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                    </div>
                                </div>
    
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Service</label>
                                        <input type="" class="form-control" placeholder="Service" value="Public Services">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Product</label>
                                        <input type="text" class="form-control" placeholder="Product" value="Water">
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Issue</label>
                                        <textarea rows="5" class="form-control" placeholder="Describe your issue"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create Incident</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
